@model NikuHotel.Models.Booking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
