@model IEnumerable<NikuHotel.ViewModel.ItemofRoom>
@{
    ViewData["Title"] = "AddToCartRooms";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var totalprice = 0.0;
}


<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/Content/Customer/img/bg-img/bg-4.jpg);">
    <div class="bradcumbContent">
        <h2>Rooms</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Rooms Area Start ##### -->
<section class="rooms-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center">
                    <div class="line-"></div>
                    <h2>Your Selected Rooms</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {


                <!-- Single Rooms Area -->
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="single-rooms-area wow fadeInUp " data-wow-delay="200ms">

                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img " style="background-image: url(/Content/Customer/img/bg-img/13.jpg);">

                        </div>
                        @{

                            var b64 = Convert.ToBase64String(item.Room.RoomImage);
                            var imgsrc = String.Format("data:image/jpg; base64,{0}", b64);
                            var price = item.Quantity * item.Room.Price;
                            totalprice = totalprice + price;

                        }
                        <p class="price-from">From @item.Room.Price/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">

                            <img src="@imgsrc" alt="No Image" style="width:150px;height:150px;" />
                            <div class="line"></div>
                            <h4>@item.Room.Category</h4>

                            <p>@item.Room.Number</p>
                            <p>@item.Room.Specification</p>
                        </div>
                        <a asp-action="RemoveFromCart" asp-controller="Rooms" asp-route-id="@item.Room.id" class="book-room-btn palatin-btn">RemoveFromcart</a>
                    </div>
                </div>
            }


                <div class="col-12">
                    
                    <!-- Pagination -->
                    <div class="pagination-area wow fadeInUp" data-wow-delay="400ms">
                        <nav>
                            <ul class="pagination">
                                @*<li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                <li class="page-item"><a class="page-link" href="#">02.</a></li>*@
                                <li class="page-item">
                                    
                                    <a asp-action="AutoBooking" asp-controller="Bookings" class="btn btn-primary form-control page-item active">Book Now</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </div>
</section>
<!-- ##### Rooms Area End ##### -->